{% if product.get_main_image %}
    {% for image in product.images.all %}
        {% if image.is_main %}
            <img src="{{ image.image.url }}" alt="{{ product.name }}" class="w-full h-full object-cover transition duration-500 group-hover:scale-110">
            {% break %}
        {% endif %}
    {% endfor %}
{% elif product.images.first %}
    <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" class="w-full h-full object-cover transition duration-500 group-hover:scale-110">
{% else %}
    <div class="flex items-center justify-center h-full w-full bg-gray-100">
        <i class="fas fa-image text-gray-400 text-4xl"></i>
    </div>
{% endif %} 